﻿<div ng-app="app" class="my-pizdec-app" ng-controller="BookCtrl as ctrl" ng-init="ctrl.init()">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <i class="glyphicon glyphicon-book"></i> jBook
                </a>
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search book" ng-model="search"/>
                </div>
            </form>
            <button class="btn navbar-btn btn-success navbar-right"
                    data-toggle="modal"
                    data-target="#edit-modal"
                    ng-click="ctrl.addNewBook()">
                <i class="fa fa-plus"></i> Add book
            </button>

        </div>
    </nav>

    <div class="container"ng-if="loaded">

        <br>
        <table class="table books-table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
            <tr ng-repeat="book in ctrl.getBooks()">
                <td>{{$index + 1}}</td>
                <td>{{book.Name}}</td>
                <td>{{book.Author}}</td>
                <td>
                    {{book.Year}}
                    <div class="options">
                        <span class="fa fa-pencil-square-o edit-book" ng-click="ctrl.editBook(book.Id)"
                              data-toggle="modal" data-target="#edit-modal"></span>
                        <span class="fa fa-times delete-book" ng-click="ctrl.deleteBook(book.Id)"></span>
                    </div>
                </td>

            </tr>
        </table>
    </div>
    <div class="modal" id="edit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{currentBook.Id === 0 ? "Add new" : "Edit"}} book</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <input type="text" class="form-control" placeholder="Name" ng-model="currentBook.Name">
                        <br>
                        <input type="text" class="form-control" placeholder="Author" ng-model="currentBook.Author">
                        <br>
                        <input type="text" class="form-control" placeholder="Year" ng-model="currentBook.Year">
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" ng-click="ctrl.saveBook(currentBook)"
                            ng-show="currentBook.Id !== -1"
                            data-dismiss="modal">{{currentBook.Id === 0 ? 'Add' : 'Edit'}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/angularapp")
@Scripts.Render("~~/Content/css")

